* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* immagini affiancate */
div.ipad, div.iphone, div.cuffie {
  display: inline-block;
  position: relative;
}
/* fine immagini affiancate */
img {
  position: relative;
  width: 100%;
  height: 100%;
}

.sconto30 {
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}
.sconto5 {
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}
.cuore {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 50%
}

.red {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 50%;
  color: red;
}

div:hover .cuore {
  display: block;
}
